<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--<connectionStrings>
    <add name="DBConnectionString"
     connectionString="Data Source=(local);Initial Catalog=SDMSample;User ID=webuser;Password=23hammer;Persist Security Info=True;Min Pool Size=100;"
     providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <appSettings>
    <add key="InputFilePath" value="C:\SourceLatest\Source\Database\DB Changes\"/>
    <add key="OutputFilePath" value="C:\SourceLatest\Source\Database\FinalScript\"/>
    <add key="FromDate" value="31/01/2018"/>
    <add key="FileFormat" value="*.sql,*.txt"/>
  </appSettings>
</configuration>